

<script src="/vendor/jquery/jquery.min.js"></script>
<!--script>
    console.log("load");
    $(document).ready(function () {

    $('#loading').fadeOut(3000);
})
</script-->
<script src="/js/custom.js"></script>

<script src="/vendor/popper.js/umd/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/jquery.cookie/jquery.cookie.js"></script>
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="/js/charts-home.js"></script>
<script src="/js/front.js"></script>
<script src="/js/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>


<script>
    $(document).ready(function(){

$('.database_date').datetimepicker({
      minView: 2,
    pickTime: false,
    language: 'pt-BR',
    autoclose:true,
    });
});
</script>
</body>
</html>